@import './variable.scss';
@mixin dialogForm {
    *{
        // font-family: "Inter var", sans-serif
        font-family:  "Poppins", sans-serif;
    }
     .p-dialog-mask {
        background: $color-mask-dialog;
        box-shadow: $dialog-shadow;
        backdrop-filter: $backdrop-filter;
        -webkit-backdrop-filter: $backdrop-filter;
    }

    .p-dialog{
        background-color: $color-white !important;
        width:65%;
        // width: auto;
        display: flex;
        justify-content: center;
        max-height: 90% !important;
        border: transparent !important;
        box-shadow: $dialog-shadow !important;
    }

    .p-dialog-header {
        border-bottom: $bottom-black-border;
        padding-bottom: 0.25rem;
        width: auto;
        margin-bottom: 0.5rem;
    }

    .p-dialog-close-button {
        border-radius: 100% !important;
        padding: 12px !important;
    }

    .p-dialog-content {
        padding: $padding-form !important;
        display: flex;
        width: auto;
        justify-content: center;
    }

    .p-dialog-content::-webkit-scrollbar {
        display: none;
    }

    .p-dialog-title {
        color : $color-dialog-header;
        font-size: 1.1rem !important;
       
    }
    label {
        color: $color-inputlabel;
        font-size: $fontSize-input;
        // opacity: 0.8 !important;
    }
    input {
        color: $color-inputtext;
        opacity: 0.8;
    }

    input, p-select, p-togglebutton {
        background-color: $color-white !important;
    }

    .btn-grp {
        width: $width-full;
    }

    @media(max-width : 1400px ) {
        .p-dialog {
            width: 70%;
        }
    }
    @media(max-width : 1200px ) {
        .p-dialog {
            width: 80%;
        }
    }

    @media(max-width : 900px) {
        .p-dialog {
            width: 90%;
            max-height: 90%;
        }

        .p-dialog-content {
            padding: 0.8rem 0.5rem 0.5rem 0.5rem !important;
        }
    }
}