@import './variable.scss';

@mixin selectButton {

    .p-selectbutton {
        outline: transparent !important;
    }
    .p-selectbutton .p-togglebutton {
        border: $input-border !important;
    }
    .p-togglebutton.p-togglebutton-checked {
        background-color: $color-primary !important;
    }
       .p-togglebutton-label {
        color: gray;
    }

    .p-togglebutton.p-togglebutton-checked .p-togglebutton-label {
        color: $color-white !important;
    }

 

    .p-togglebutton-content {
        background-color: transparent !important;
    }

    .select-button label {
        font-weight: 600 !important;
        opacity: 0.9 !important;
    }


}