$color-black : black;
$color-white :  white;
$color-primary :  rgba(5, 71, 118, 1);
$color-placeholder : rgba(0, 0, 0, 0.534);
$color-onfocus : rgb(150 189 241);
$color-inputtext : rgba(0, 0, 0, 0.6);
$color-inputlabel : rgb(57, 57, 57);
$color-dialog-label : rgb(40, 40, 40);
$color-dialog-header : rgba(72, 72, 72, 0.935);
$color-inputtext-border : rgba(179, 179, 179, 0.419);
$color-inputtext-shadow : rgb(31 112 217 / 32%);
$color-requiredInput : rgba(255, 0, 0, 0.37);
$color-error : #dc3545;
$color-bg-selected : #d0e1fd;
$color-text-selected : #4575ef;
$color-bg-selectOnFocus : #d4d4d460;
$color-text-selectOnFocus : #727272;
$color-bg-onDisabled : rgba(182, 182, 182, 0.18);
$color-mask-dialog : rgba(255, 255, 255, 0.21);
$color-calendar-buttonOnHover : rgba(18, 43, 119, 0.062);
$color-calendar-weekday : #b8b8b8;
$color-calendar-date : #3f3f3f;
$color-dropdown-onDisabled : rgba(5, 71, 118, 0.672);

$dialog-shadow : 0 0 5px rgb(214, 212, 212);
$box-shadow: 0px 0px 1px 2px $color-inputtext-shadow; 
$input-border : 1px solid rgba(179, 179, 179, 0.419);
$border-onfocus : 1px solid $color-onfocus;
$border-required :solid $color-requiredInput;
$border-width-required : 1px 1px 1px 4px;

$fontSize-input : 0.9rem;
$fontSize-error : 0.8em;
$height-input : 5vh;

$width-full : 100%;

$backdrop-filter : blur(5px);

$bottom-black-border : 1px solid rgba(0, 0, 0, 0.145);

$text-shadow-error-text : 0 0 2px #d23131;

$padding-form : 0.8rem;
