<app-data-loader [dataLoaded]="dataLoaded()"></app-data-loader>

@if(dataLoaded()) {

<form class="container position-relative pb-4" [formGroup]="dynamicForm!" (ngSubmit)="onSubmit()">

    <div class="row row-cols-2 row-gap-4">
        <app-prime-input class="col-12 col-md-6" label="Institute Name" placeholder="Institute Name" [isDisabled]=false
            formControlName="institute"></app-prime-input>
        <app-prime-input class="col-12 col-md-6" label="Certification" placeholder="Certification"
            [isDisabled]=false formControlName="certification"></app-prime-input>
        <app-prime-filter-dropdown class="col-12 col-md-6" label="Country" placeHolder="Select Country"
            [optionItems]="countries" optionLabel="name" optionValue="name"
            formControlName="country"></app-prime-filter-dropdown>
        <app-prime-input class="col-12 col-md-6" label="City" placeholder="City" [isDisabled]=false
            formControlName="city"></app-prime-input>
        <app-prime-datepicker class="col-12 col-md-6" label="Awarded Date" 
            [customErrors]="customErrors()['awardeddate']" placeholder="Awarded Date" (currentController)="setCurrent($event)"
            formControlName="awardeddate"></app-prime-datepicker>
        <app-prime-datepicker class="col-12 col-md-6" label="Expiry Date" placeholder="Expiry Date" (currentController)="setCurrent($event)"
            formControlName="expirydate" [customErrors]="customErrors()['expirydate']"></app-prime-datepicker>
        <app-prime-input class="col-12 col-md-6" label="Document Number" placeholder="Document Number"
            [isDisabled]=false formControlName="docnum"></app-prime-input>
    </div>
    <div class="row mt-4">
        <app-button class="col-12" [disabled]="disable()" [loading]="loading()" label="Confirm" iconPos="left"
            type="submit" severity="warn" size="small" [fullWidth]=true></app-button>
    </div>
</form>
}