    


<!-- <p-dialog header="Identity Document" [modal]="true" [(visible)]="visible" (onHide)="onHide()"
    [style]="{ width: '55rem' }">
 -->


    <app-data-loader [dataLoaded]="dataLoaded()"></app-data-loader>

    @if(dataLoaded()) {

        <form class="container position-relative pb-4"  [formGroup]="dynamicForm!" (ngSubmit)="onSubmit()">
    
            <div class="row row-cols-2 row-gap-3">
                <app-prime-input  class="col-12 col-md-6" label="Name" placeholder="Name" [isDisabled]=false
                    formControlName="name"></app-prime-input>
                <app-prime-input class="col-12 col-md-6" label="Last Name" placeholder="Last Name" [isDisabled]=false
                    formControlName="lastname"></app-prime-input>
                <app-prime-input class="col-12 col-md-6" label="Middle Name" placeholder="Middle Name" [isDisabled]=false
                    formControlName="middlename"></app-prime-input>
                <app-prime-dropdown class="col-12 col-md-6" label="Gender" placeHolder="Select Gender" [optionItems]="gender()" optionLabel="type" optionValue="type"
                    formControlName="gender"></app-prime-dropdown>
                <app-prime-datepicker [maxDate]="today()" class="col-12 col-md-6" label="Date Of Birth" placeholder="Date Of Birth"
                    formControlName="dob"></app-prime-datepicker>
                <app-prime-input-number class="col-12 col-md-6" label="Passport Number" placeholder="Passport Number" [isDisabled]=false
                    formControlName="passport" type="number"></app-prime-input-number>
                <app-prime-filter-dropdown class="col-12 col-md-6" label="Nationality" placeHolder="Select Nationality" [optionItems]="countries"
                    optionLabel="name" optionValue="name" formControlName="nationality"></app-prime-filter-dropdown>
                <app-prime-datepicker class="col-12 col-md-6" [minDate]="minDate()" [customErrors]="customErrors()['expiry']" label="Passport Expiry Date" placeholder="Expiry Date"
                    formControlName="expiry"></app-prime-datepicker>
            </div>
            <app-prime-select-button class="row mt-4" [allowEmpty]="false" formControlName="agree"
                label="Would you like us to proceed with the criminal background check for this passport application ?"
                [stateOptions]="slideOptions()" [allowEmpty]=false></app-prime-select-button>
    
    
            <div class="row mt-4">
                 <app-button class="col-12" [disabled]="disable()" [loading]="loading()" label="Submit" iconPos="left" type="submit" severity="warn" size="small" [fullWidth]=true></app-button>
            </div>
        </form>
    }

<!-- </p-dialog> -->