<div class="flex flex-col" *ngIf="control">
    <span class="flex gap-1" *ngIf="showLabel">
        <label [dir]="direction" class="block text-sm/6 font-medium text-gray-900 mb-1" [htmlFor]="label">{{ label }}</label>

        @if(isCurrentControlRequiredOnDefault()){

            <span class="text-right" [style]="{ color: 'red' }" *ngIf="isCurrentControlRequiredOnDefault()"> *</span>
        }
    </span>

         <p-select
        [options]="optionItems"
        [formControl]="control"
        [optionValue]="optionValue"
        [optionLabel]="optionLabel"
        [placeholder]="placeHolder"
        [dir]="direction"
        [filterPlaceholder]="placeHolder"
        [showClear]="showClear"
        [filterBy]="optionLabel"
        [class]="isError() ? 'p-inputtext-sm mt-2 required' : 'p-inputtext-sm mt-2'"
        (onChange)="onChange($event)"
        [dropdownIcon]="dropdownIcon"
        appendTo="body"
        [ngClass]="{
      'ng-dirty ng-invalid': isError(),
    }"
        #dropdownFilterReference
    >
        <ng-template let-country pTemplate="item">
            <div class="flex align-items-center gap-2 z-index">
                <div>
                    {{ country[optionLabel] }}
                    {{ isRecommendedValue === country[optionValue] ? ' (Recommended)' : '' }}
                </div>
            </div>
        </ng-template>
    </p-select>


    <small id="sm-text-{{ label }}" *ngIf="hasSmallText">{{ smallText }}</small>

    @if(isError()){

        <ng-container>
            <app-prime-error [direction]="direction" [crossErrorMessages]="crossErrorMessages" [errors]="control.errors"> </app-prime-error>
        </ng-container>
    }
</div>
