<p-toast [position]="toastPosition"></p-toast>

<h4>Credentials Documents</h4>
<p-button label="Add Cred Docs" (onClick)="OpenCredModel()"></p-button>
 <p-dataview #dv [value]="credentials()">
    <ng-template #list let-user>
        <div class="bg">
            <div *ngFor="let item of credentials(); let first = first" class="col-span-12 item">
                <div>{{item.institution}}</div>
                <div class="btn-grp">
                  <p-button (click)="showCredDialog(item.Id)" label="Edit" />
                </div>
            </div>
        </div>
    </ng-template>
</p-dataview>


<h4>Degree Documents</h4>
<p-button label="Add degree Docs" (onClick)="OpenDegModel()"></p-button>
 <p-dataview #dv [value]="degree()">
    <ng-template #list let-user>
        <div class="bg">
            <div *ngFor="let item of degree(); let first = first" class="col-span-12 item">
                <div>{{item.name}}</div>
                <div class="btn-grp">
                  <p-button (click)="showDegDialog(item.Id)" label="Edit" />
                </div>
            </div>
        </div>
    </ng-template>
</p-dataview>

<h4>Employment Documents</h4>
<p-button label="Add Employment Docs" (onClick)="OpenEmpModel()"></p-button>
 <p-dataview #dv [value]="employment()">
    <ng-template #list let-user>
        <div class="bg">
            <div *ngFor="let item of employment(); let first = first" class="col-span-12 item">
                <div>{{item.name}}</div>
                <div class="btn-grp">
                  <p-button (click)="showEmpDialog(item.Id)" label="Edit" />
                </div>
            </div>
        </div>
    </ng-template>
</p-dataview>

<h4>Identity Documents</h4>
<p-button label="Add Employment Docs" (onClick)="OpenPassModel()"></p-button>
 <p-dataview #dv [value]="passport()">
    <ng-template #list let-user>
        <div class="bg">
            <div *ngFor="let item of passport(); let first = first" class="col-span-12 item">
                <div>{{item.name}}</div>
                <div class="btn-grp">
                  <p-button (click)="showPassDialog(item.Id)" label="Edit" />
                </div>
            </div>
        </div>
    </ng-template>
</p-dataview>

<h4>Goodstanding Documents</h4>
<p-button label="Add Employment Docs" (onClick)="OpenStandModel()"></p-button>
 <p-dataview #dv [value]="goodStanding()">
    <ng-template #list let-user>
        <div class="bg">
            <div *ngFor="let item of goodStanding(); let first = first" class="col-span-12 item">
               <div>{{item.certification}}</div>
                <div class="btn-grp">
                  <p-button (click)="showStandDialog(item.Id)" label="Edit" />
                </div>
            </div>
        </div>
    </ng-template>
</p-dataview>

<router-outlet />
